<div class=container>
    <h1>Search your github account here</h1>
    <form class="seach">
        <div>
            <h2>Enter your github user name</h2>
            <input type="text" class="form-control" placeholder="github username" [(ngModel)]="username" name="github username" (keyup)="findProfile()">
        </div>
    </form>

    <div *ngIf=profile>
        <div one one-default>
            <div class="one-head">
                {{profile.name}} <small>{{profile.login}}</small>
                <span *ngIf="profile.company">{{profile.company}}</span>{{profile.location}}
            </div>
            <div class="one-body">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="{{profile.avatar.url}}" class="img-responsive"  alt="profile">
                    </div>
                    <div class="col-sm-5">
                        <ul>
                            <li *ngIf="profile.bio">{{profile.bio}}</li>
                            <li *ngIf="profile.hirable">{{profile.hirable}}</li>
                            <li *ngIf="profile.blog">{{profile.blog}}</li>
                            <li *ngIf="profile.email">{{profile.email}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <p>
                                <span class="label one-primary" class="btn btn-danger btn-sm">
                                <span class="label one-primary" class="btn btn-danger btn-sm">{{profile.follower}}Followed by<br></span>
                                <span class="label one-primary" class="btn btn-danger btn-sm">{{profile.following}}following<br></span>
                                <span class="label one-primary" class="btn btn-danger btn-sm"> {{profile.public-gists}} public public-gists<br></span>
                                <span class="label one-primary" class="btn btn-danger btn-sm"> {{profile.public-repos}} public public-repos</span>
                            </p>
                            <div class="one-body" *ngFor="let repo of repos">
                                <p>
                                    {{repo.name}}<a href="{{repo.html_url" class="btn btn-warning pull-right">View in github</a>
                                </p>
                                <p class="clearfix">{{repo.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
